body {
  background-color: black;
  color: rgb(203, 84, 24);
}

 nav {
   font-family: 'Alfa Slab One', sans-serif;
   height: 85px;
   margin-bottom: 80px;
  border-bottom: solid rgb(203, 84, 24);
 }



 nav h1 {
   font-family: 'Alfa Slab One', sans-serif;
   font-size: 40px;
   margin: 20px;
   /* margin-top: 20px; */
   display: inline-block;
   color: rgb(203, 84, 24);
 }

 nav a {
   color: #fff;
   text-decoration: none;
   float: right;
   margin: 20px;
   margin-top: 30px;

 }

 nav a:hover {
   color: rgb(203, 84, 24);
 }

