*, *::before, *::after { box-sizing: border-box; }

body {
	font-family: 'Alfa Slab One', sans-serif;
	background-color: black;
	color: rgb(203, 84, 24);
	font-family: sans-serif;
	padding: auto;
	margin: auto;
	/* height: 769px; */
}

main {
	font-family: 'Alfa Slab One', sans-serif;
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;


  /* align-items: center; */
	/* display: inline-flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	/* justify-content: center; */
	/* margin-top: 50px; */
	/* width: 300px; */
	/* height: 384px; */
}

.cat {
	/* float: right; */
	height: 750px;
	width: auto;
	

}

.phrase {
	margin-top: 200px;
	margin-left: 50px;
	display: inline-block;
	/* flex-direction: column; */
	/* align-content: center; */
	width: 300px;
	height: 250px;

}

 footer {
 	background-color: rgb(203, 84, 24);
 	height: 180px;
 	/* margin-top: 300px; */
 	/* margin-bottom: 50px; */
 }

nav {
	font-family: 'Alfa Slab One', sans-serif;
	height: 85px;
	border-bottom: solid rgb(203, 84, 24);
}

nav h1 {
	font-family: 'Alfa Slab One', sans-serif;
	font-size: 40px;
	margin: 20px;
	/* margin-top: 20px; */
	display: inline-block;
}

nav a {
	color: #fff;	
	text-decoration: none;
	float: right;
	margin: 20px;
	margin-top: 30px;

}

nav a:hover {
	color: rgb(203, 84, 24);
}

.nav-buttons {
	display: inline-block;
}

.menu-icon {
	display: none;
	font-size: 40px;
	margin: auto;
	padding: 15px;
}

.menu-icon:focus+nav a {
	display: block;
}

.about-imgs {
	border-radius: 10px;
	max-width: 100%;
}

.About {
	display: flex;
	align-items: center;
	max-width: 1310px;
	margin: 30px auto;
}

section {
	border: solid rgb(203, 84, 24) 4px;
	border-radius: 10px;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	flex-basis: 33.33%;
	/* margin: auto; */
}

section:not(:last-child) {
	margin-right: 30px;
}

section.secondary {
	order: -1;
}

h2 {
	text-align: center;
	border-bottom: solid 1px rgb(203, 84, 24);
}

p {
	color: #fff;
}

.signup {
	display: block;
	/* margin-right: 200px; */
}

.home-buttons {
display: flex;
}

 .button {
 border: solid 1px rgb(203, 84, 24);
	margin: 15px;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	width: 100px;
	float: right;
	margin-top: 20px;
	padding: 8px;
} 




.signup-button {
	display: block;
	text-decoration: none;
	margin: 15px;
	border: solid 1px rgb(203, 84, 24);
	text-align: center;
	color: #fff;
	border-radius: 50px;
	width: 100px;
	height: 30px;
	margin-top: 25px;
	padding: 3px;
}

.apply-button {
	display: block;
  text-decoration: none;
	margin: 15px;
	border: solid 1px rgb(203, 84, 24);
	text-align: center;
	color: #fff;
	border-radius: 50px;
	width: 100px;
	height: 30px;
	margin-top: 25px;
	padding: 3px;
}


@media(max-width:700px) {
	main {
		display: block;
	}

	.About {
		 	display: inline;
		 	align-items: center;
		 	max-width: 1310px;
		 	margin: 30px auto;
		 }
	nav h1 {
		text-align: center;
		display: inline-flex;
	}

		nav a {
			display: none;
			margin: 10px 0;
		}

	.menu-icon {
		display: block;
		font-size: 40px;
			margin: auto;
	}
		.menu-icon:focus+nav a {
			display: block;
		}
	
				.nav-buttons {
					display: none;
					margin: 10px 0;
				}
				.button {
					display: none;
				}

					

nav.vertical .nav-buttons {
	display: block;
	width: 100%;
}

	footer {
		display: block;
	}

	nav button {
		display: block;
	}

	.cat {
		margin-top: 25px;
			height: 550px;
				width: auto;
	}

		 section {
		 	border: solid rgb(203, 84, 24) 4px;
		 	border-radius: 10px;
		 	padding: 20px;
		 	flex-basis: 33.33%;
		 	margin: 30px;
		 }
	
		 section:not(:last-child) {
		 	margin-right: 30px;
		 }
}



@media(max-width:400px) {
main {
		display: block;
	}

		 .About {
		 	display: inline;
		 	align-items: center;
		 	max-width: 1310px;
		 	margin: 30px auto;
		 }

	nav h1 {
		text-align: center;
		display: inline-flex;
	}

		nav a {
			display: none;
			margin: 10px 0;
		}

 .menu-icon {
	display: block;
	font-size: 40px;
		margin: auto; 
}

				.menu-icon:focus+nav a {
					display: block;
				}
		
				.nav-buttons {
					display: none;
					margin: 10px 0;
				}
		
				.button {
					display: none;
				}
								 section {
								 	border: solid rgb(203, 84, 24) 4px;
								 	border-radius: 10px;
								 	padding: 20px;
								 	flex-basis: 33.33%;
								 	margin: 30px;
								 }
				
								 section:not(:last-child) {
								 	margin-right: 30px;
								 }
				

	footer {
		display: block;
	}


	
	nav button {
		display: block;
	}

	.cat {
		margin-top: 25px;
		height: 425px;
		width: auto;
	}


}